# 写在开头：
- 宝贝，Q1 的题目都弄完啦，说实话，这些题目给新手还是有些难度，嗯，感觉你们这门课，workload 还挺大的。所以让我们放下成见，好好学习最重要呢
- 虽然答案我都写出来了，也有注释解释部分原理，但是中间数据的流转，方法的调用，涉及到的知识点对你这个完全 0 基础的新手，真的挺多的，我那天说要用 skype 给你讲，确实有心术不正的原因在。但客观的说，这些东西光靠文字是很难让你融会贯通的，一定要自己深入理解了才行！


## 建议的学习方法：
- 1. 自己调试每一行，每一个方法，看懂它的输出和报错，你才能真的把这些题目的实现方法弄明白了
    - 比如 Question 1d，你可以这样调试
    - 01: sf_salaries[sf_salaries["EmployeeName"] == "GREGORY STANGLAND"] 看看它的输出
    - 02：sf_salaries[sf_salaries["EmployeeName"] == "GREGORY STANGLAND"].to_dict() 看看它的输出
    - 03: sf_salaries[sf_salaries["EmployeeName"] == "GREGORY STANGLAND"].to_dict(orient="record") 看看它的输出
    - 04: sf_salaries[sf_salaries["EmployeeName"] == "GREGORY STANGLAND"].to_dict(orient="record")[0] 看看它的输出
    - 然后可以使用 type() 的方法来看它的类型，用法和 print() 类似，比如 type(sf_salaries)，放到括号里就行啦
- 2. 学会查资料和看官方文档，比如 Question 1h，涉及到排序，那你就可以搜索， pandas 排序，然后找到 sort_values 这个方法的使用方式，然后自己尝试把它用对，得到想要的输出

- 3. 真的要问呐！！感觉老师就是一口气给你们一大堆东西，然后剩下的交给你们自己解决了，答案大家也许都能写出来，但是能学到什么程度真的因人而异，这个里面涉及到的知识点延伸讲起来我真的可以给你讲一下午，所以你弄不明白的地方，真的得问，不为别的，就为把它学好，学扎实。

- 4. 爱你

In [2]:
import pandas as pd

## Question 1a:

In [ ]:
sf_salaries = pd.read_csv("/Users/lichenxi/Desktop/Salaries.csv")

In [5]:
sf_salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## Question 1b:

In [9]:
sf_salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [17]:
# 题干说的是 分数基于你在下方打印的是啥子 所以我们要用 print 
# 以下是方法1: 硬编码，我们通过 .info() 这个方法得出结果，然后手写答案到代码里，打印出来
print("Number of entries = 148654")
print("Number of columns = 13")
print("Unique Datatypes = float64, int64, object")

Number of entries = 148654
Number of columns = 13
Unique Datatypes = float64, int64, object

In [36]:
# 以下是进阶的方法2: 赋值变量法，
# 这种方法的好处在于，即使我们倒入另一个完全不同的 csv 文件，它也可以把需要的答案直接打印出来，不用自己再手动填写啦
print("Number of entries = %s"%len(sf_salaries))
print("Number of columns = %s"%len(sf_salaries.columns))
print("Unique Datatypes = float64, int64, object") 
# 这个目前还没找到好办法，只能先这么写了，不过写代码的时候我们应该尽量追求这种办法，提升程序的复用性

Number of entries = 148654
Number of columns = 13
Unique Datatypes = float64, int64, object

## Question 1c:

In [43]:
import numpy as np

In [65]:
# 这个题目中，我在直接使用 np.mean 这个方法求平均数的时候，发现这一列有脏数据，导致我们无法直接求出 max, min, mean 所以我们需要先做预处理



# 预处理 1 去除 nan 值，nan 值意味着没有数据，pandas 在处理空数据的时候，会用这个来表示
base_pay_list_without_nan = sf_salaries["BasePay"].dropna()



# 预处理 2 去除字符串，字符串 str (全称 string) 是一种数据类型，就是文本，它是没有办法和数字做比较大小，求和的，所以我们要把它筛出去。
base_pay_list = []
for item in base_pay_list_without_nan:
    if type(item) == str: 
        continue # 这里的意思是如果我们遇到了 str 类型的数据，循环直接 continue 进入下一次，不用执行后面的代码了。
    base_pay_list.append(item) # 而当执行到这里的时候，我们就需要把真正符合我们要求的数据用 append() 加入到，上面我们定义的 base_pay_list list 里面。

    
    
# 求结果
base_pay_min = min(base_pay_list)
base_pay_max = max(base_pay_list)
base_pay_mean = np.mean(base_pay_list)

print("Min base pay: {}".format(base_pay_min))
print("Max base pay: {}".format(base_pay_max))
print("Mean base pay: {}".format(base_pay_mean))

# btw，这里用的 format 和我上一题用 %s 方法是一个作用，记不记得我们刚在一起的时候，七夕情人节，我用了 7 种方法给你打印了《鹊桥仙·纤云弄巧》

Min base pay: -166.01
Max base pay: 319275.01
Mean base pay: 71323.8395736853

## Question 1d:

In [86]:
# 这一条代码略长，涉及到知识点也比较多一点
# 1. 筛选 sf_salaries[sf_salaries["EmployeeName"] == "GREGORY STANGLAND"] 找出 EmployeeName 是 GREGORY STANGLAND 的所有记录，该表为一条
# 2. to_dict 方法，dict 是一个数据结构，有着 key，value 的特性，可以直接索引到我们需要的 JobTitle 和 TotalPay
# 3. [0] 因为 to_dict 结果是一个 list 所以我们需要把真正的 dict 取出来
# 4. 建议的学习方法是 把这些步骤拆开来，一行一行的 run 一下，你才能懂里面究竟是啥，以及为啥要这样写。直接给你答案是木有意义的。

GREGORY_STANGLAN_Dict = sf_salaries[sf_salaries["EmployeeName"] == "GREGORY STANGLAND"].to_dict(orient="records")[0]

total_pay = GREGORY_STANGLAN_Dict["JobTitle"]
job_title = GREGORY_STANGLAN_Dict["TotalPay"]

print("GREGORY STANGLAND total pay: {}".format(total_pay))
print("GREGORY STANGLAND job title: {}".format(job_title))

GREGORY STANGLAND total pay: FIRE FIGHTER PARAMEDIC
GREGORY STANGLAND job title: 224439.97

## Question 1e:

In [94]:
# 这一题和 1d 类似，都是通过条件筛选 然后取值，只是筛选条件不同，这里我们直接用 max(sf_salaries["TotalPay"]) 就可以啦，其他都差不多 
Highest_TotalPay_Dict = sf_salaries[sf_salaries["TotalPay"] == max(sf_salaries["TotalPay"])].to_dict(orient="records")[0]

name = Highest_TotalPay_Dict["EmployeeName"]
year = Highest_TotalPay_Dict["Year"]
total_pay = Highest_TotalPay_Dict["TotalPay"]


print("Name: {}".format(name))
print("Year: {}".format(year))
print("Total Pay: {}".format(total_pay))

Name: NATHANIEL FORD
Year: 2011
Total Pay: 567595.43

## Question 1f:

In [109]:
# 这一题提出了明确的数据格式的要求，“Series”，https://zhuanlan.zhihu.com/p/131553804 可以参考这个，其实就可以理解成表里的某一列

total_pay_data = []
total_pay_index = []


for single_year in sf_salaries["Year"].unique(): # 这里我们先找出表中有哪些年份
    total_pay_data.append(max(sf_salaries[sf_salaries["Year"]==single_year]["TotalPay"])) # 然后一个个年份筛选当中的最大值
    total_pay_index.append(single_year) 
    
max_annual_total_pay = pd.Series(data=total_pay_data, index=total_pay_index) # 最后在这里用 pd.Series 的方法构建要求的数据结构
print(max_annual_total_pay)

2011    567595.43
2012    362844.66
2013    347102.32
2014    471952.64
dtype: float64

## Question 1g:

In [112]:
# 这一题比较简单，.unique() 这个方法就是去重，求出当前这一列所有的值
unique_jobs = sf_salaries["JobTitle"].unique()


print("Number of unique jobs: {}".format(len(unique_jobs)))# 然后这里加了一个 len，上面也用过，就是计数，算一下里面一共有多少个。

Number of unique jobs: 2159

## Question 1h:

In [126]:
# 最常见的 10 个 job，这一题看上就几行代码，其实东西挺多的，建议一行行跑一下。

import collections
JobTitle_Count = collections.Counter(sf_salaries["JobTitle"]) # 先计数，算出所有的 job 分别出现了多少次
JobTitle_Count_Df = pd.Series(JobTitle_Count) # 构建老师要求的 Series
top_10_job_count = JobTitle_Count_Df.sort_values(ascending=False).head(10) # 然后使用 sort_values 排序，它要求倒序嘛，所以 ascending=False 就等于 descending 啦，然后取头(head) 10 个


print(top_10_job_count)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
dtype: int64

## Question 1i:

In [ ]:
# 求2014年里面多少个工作就一个人干过？我是这么理解的哈
# 这题用上面的东西都能解决，我给你留着 hhhh，前面的学明白了，这题分分钟就搞定了，开动小脑筋呢
# 提示：1.筛选 2014 年 2. 计数 collections.Counter 
num_jobs = ""

## Question 1j:

In [129]:
# 和上一题类似，不过涉及到新的知识点：字符串匹配
num_jobs_chief = 0
for item in sf_salaries[sf_salaries["Year"]==2013]["JobTitle"]:
    if "Chief" in item:
        num_jobs_chief += 1
        
print("Number of jobs title containing the word Chief if 2013: {}".format(num_jobs_chief))

Number of jobs title containing the word Chief if 2013: 142

In [130]:
# 关于字符串匹配, 你可以这样调试一下就懂了
"Roxy" in "Roxy love chenxi"

True

In [133]:
"Roxy" in "wenyuzhe do not love chenxi" 

# 看懂了没有！哈哈哈哈哈哈哈哈，你爱我呢，宝贝，么么

False